body {
	background-image: url("../images/drinkbkg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	background-image: url("../images/drinkbkg3.jpg");
	text-align: center;
	text-shadow: 2px 2px orangered;
	margin: 10px ;
	padding-top: 5px;
	padding-bottom: 2px;
	background-color: grey;	
	border: 1px solid black;
}

.container {
	background-color: rgba(128, 0, 128, 0.8);
	padding-bottom: 500px;
	padding-top: 20px;
	margin-top: -10px;
}
form {
	color: white;
	text-shadow: 2px 2px orangered;
    font-family: arial;
    font-weight: "bold";
}
button, form {
	margin: 5px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
	background-color: grey;
	color:darkblue;
}

input {
	background-color: greenyellow ;
}

p {
	background-color: grey;
	color: white;	
    padding-left: 10px;
	padding-bottom: 2px;
	border: 2px solid;
}

.item {
	display: inline-block;
	padding: 20px;
	
}